<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <strong>Buy notification</strong>
    </p>
    <p>
      Email <strong><%= @email %></strong>
    <p>
      Shoe <%= @shoe.name %>
      <br>
      Collection <%= @shoe.collection.name %>
    </p>
    <p>
      <%= shoe_url(@shoe.collection_path, @shoe.path) %>
    </p>
  </body>
</html>