<div class="row-fluid">
  <div class="span10">
    <%= image_tag 'banner-01.gif', :width => 780, :height => 295, :alt => 'Fashion', :class => 'banner-carousel' %>
    <div class="row-fluid boxes">
      <div class="span4"></div>
      <div class="span4"></div>
      <div class="span4"></div>
    </div>
  </div>
  <div class="span2">
    <aside class="news-aside">
      <h1>NEWS</h1>
      <% 4.times do %>
        <article>
          <time>09/11</time>
          <h2>NEW Nº01</h2>
        </article>
      <% end %>
      <%= link_to 'VIEW ALL NEWS', 'javascript:void(0)', :class => 'view-all' %>
    </aside>
  </div>
</div>