/*
 *= require_self
 */

/* = boxes
----------------------------------------------------------------------------------------------------*/
.boxes {
	margin-top: 15px;
	margin-bottom: 20px;
}

.boxes div {
	height: 120px;
	background-color: #333;
}