@import "compass/css3";

/* = banner
----------------------------------------------------------------------------------------------------*/
.banner-carousel {
	border: 1px solid #DDD;
}

/* = boxes
----------------------------------------------------------------------------------------------------*/
.boxes {
	margin-top: 10px;
	margin-bottom: 20px;
}

.boxes div {
	height: 160px;
	background-color: #DDD;
}