.about-text {
	margin-top: 20px;
}

.about-text h1 {
	margin: 0;
	font-weight: normal;
	text-align: center;
	line-height: 2em;
	position: relative;
	top: -15px;
}

.about-text h2 {
	margin: 0 0 10px;
	font-weight: normal;
}