<% content_for :content do %>
  <div class="row-fluid">
    <div class="span10">
      <%= yield %>
    </div>
    <div class="span2">
      <aside class="news-aside">
        <h1>NEWS</h1>
        <div id="newsAsideContent"></div>
        <script id="newsAsideContentTemplate" type="text/x-jquery-tmpl">
          <article>
            <time datetime="${publishedDate}" pubdate><a href="${link}">${plomo.formatFeedDate(publishedDate)}</a></time>
            <h2><a href="${link}">${title}</a></h2>
          </article>
        </script>
        <%= link_to 'VIEW ALL NEWS', 'http://plomoshoes.wordpress.com', :class => 'view-all' %>
      </aside>
    </div>
  </div>
<% end %>
<% content_for :javascript do %>
  <%= javascript_tag do %>
    (function() {
      window.plomo = {};
      window.plomo.formatFeedDate = function(date) {
        date = new Date(date);
        return date.getDate() + '/' + (date.getMonth()+1);
      };
      
      var feedUrl = 'http://plomoshoes.wordpress.com/feed/';
      $.getJSON('http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&callback=?&num=4&q=' + feedUrl, function(data) {
        var html = $('#newsAsideContentTemplate').tmpl(data.responseData.feed.entries);
        $('#newsAsideContent').empty().html(html);
      });      
    })();
  <% end %>
<% end %>
<%= render :template => 'layouts/application' %>